.menu_content{
width:100%;
height: 1000px;
z-index: 1;


}
header{
    display: flex;
    align-items: center;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
  
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 1440px;
      padding-left: 80px;
    padding-right: 26px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.hamburger-icon img{
    height: 35px;
    width: 45px;
}

.menu_aot{
    background-image:url(assets/img/header.png);
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 300px;
}
.menu_image{
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1_header{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h1_header img{
    height:32px;
    width: 110px;
    margin-top: -19px;
}
.menu_category{
    height: 800px;
    
}
.menu_category_header{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgba(231, 108, 31, 1);
    align-items: center;
    padding-left: 160px;
    gap: 20px;
}
.menu_category_header img{
    margin-top: -30px;
}
.h-tag{
    display: flex;
    gap: 20px;
}