.menu_content {
  width: 100%;
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  height: 128px;
  background-color: rgba(231, 108, 31, 1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  padding-left: 80px;
  padding-right: 26px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hamburger-icon img {
  height: 35px;
  width: 45px;
}

.menu_aot {
  background-image: url(assets/img/header.png);
  height: 400px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
}

.menu_image {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1_header {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h1_header img {
  height: 32px;
  width: 110px;
  margin-top: -19px;
}

.menu_category {
  margin-bottom: 50px;
}

.menu_category_header {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: rgba(231, 108, 31, 1);
  align-items: center;
  padding-left: 160px;
  gap: 20px;
}

.menu_category_header img {
  margin-top: -30px;
}

.h-tag {
  display: flex;
  gap: 20px;
}

footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgba(231, 108, 31, 1);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

footer span {
  color: white;
  font-weight: 200;
}

.confirmed{
  top: 25%;
  height: 300px;
  width: 415px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(54, 53, 52, 1);
  border: none;
  border-radius: 30px;
  padding: 40px 32px 40px 32px;
}

.confirmed_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.confirmed_main h2{
  font-size: 22px;
 
}
.confirmed_main p{
  font-size: 16px;
  color: white;
}
.dialog_header{
  background: none;
  width: 280px;
  display: flex;
  justify-content: end;
  height: 30px;
}
.confirmed_header{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width: 1275px) {
  footer {
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 591px) {
  .navbar {
    padding-left: 20px;
  }
  .hamburger-icon img {
    display: none;
  }
  .menu_aot {
    margin: 15px;
    border-radius: 16px;
    height: 320px;
    margin-bottom: 340px;
    object-fit: cover;
  }
  .menu_category_header {
    flex-direction: column;
    padding-left: 0;
  }

  .menu_category_header img {
    height: 60px;
    width: 58px;
    margin-bottom: -25px;
  }

  .h1_header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .star-img {
    width: 1100px;
    height: 32px;
  }

  .burger-img {
    height: 150px;
    margin-bottom: 50px;
  }

  .menu_image {
    margin-top: 670px;
  }
  footer {
    gap: 0;
    flex-direction: column-reverse;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 75px;
  }
   .dialog_header{
 
  width: 220px;
  
}
.confirmed_main p{
  font-size: 12px;
  color: white;
}
.confirmed_main h2{
  font-size: 16px;
 
}
.confirmed{
  top: 25%;
  height: 240px;
 



}

}

