.menu_content{
width:100%;
height: 1000px;
z-index: 1;

}
header{
    display: flex;
    align-items: center;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
    padding-left: 116px;
    padding-right: 26px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.hamburger-icon img{
    height: 35px;
    width: 45px;
}

.menu_aot{
    background-image:url(assets/img/header.png);
    height: 480px;
    background-position: center;
    background-size: cover;
}
