
.basket{
   position: fixed;
    right: 0px;
    top: 450px;
    transform: translateY(-50%);
    background: rgba(54, 53, 52, 1);
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    z-index: 1000;
    height: 480px;
    width: 435px;
    border-radius: 30px 0 0 30px; 
}