.basket {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 450px;
  transform: translateY(-50%);
  background: rgba(54, 53, 52, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 100;
  height: 700px;
  width: 435px;
  border-radius: 30px 0 0 30px;
  margin-left: -435px;
  text-align: center;
}

.empty-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px;
}

.empty-basket h2 {
  font-size: 32px;
  color: rgba(253, 234, 220, 1);
}

.empty-basket p {
  font-size: 24px;
  color: rgba(253, 234, 220, 1);
  font-weight: 500;
  font-style: medium;
}

.close_btn {
  display: none;
}

.empty-basket img {
  height: 120px;
  width: 120px;
}

@media screen and (max-width: 1295px) {
  .basket {
    bottom: 11px;
    left: 0;
    right: 0;
    width: 100%;
    height: 662px;
    border-radius: 30px 30px 0 0;
    margin-left: 0;
  }

  .empty-basket {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px;
  }

  .empty-basket h2 {
    font-size: 22px;
    color: rgba(253, 234, 220, 1);
  }

  .empty-basket p {
    font-size: 18px;
    color: rgba(253, 234, 220, 1);
    font-weight: 500;
    font-style: medium;
  }

  .empty-basket img {
    height: 80px;
    width: 80px;
  }

  .close_btn {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: end;
  }
    .mobile_footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 78px;
    background-color:rgba(54, 53, 52, 1) ;
}
}
