.basket {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 450px;
  transform: translateY(-50%);
  background: rgba(54, 53, 52, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 100;
  height: 700px;
  width: 100%;
  max-width: 435px;
  border-radius: 30px 0 0 30px;
  margin-left: -435px;
  text-align: center;
}
.mobile_footer {
  display: none;
}
.empty-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px;
}

.empty-basket h2 {
  font-size: 32px;
  color: rgba(253, 234, 220, 1);
}

.empty-basket p {
  font-size: 24px;
  color: rgba(253, 234, 220, 1);
  font-weight: 500;
  font-style: medium;
}

.close_btn {
  display: none;
}

.empty-basket img {
  height: 120px;
  width: 120px;
}

.busket_full{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.busket_item{
    display: flex;
    flex-direction: column;
    background-color:rgba(253, 234, 220, 1);
    padding: 20px;
    gap: 8px;
    border-radius: 20px;
    height: 120px;
    width: 310px;
}

.busket_header_name{
    display: flex;
    gap: 8px;

}
.basket_bottom{
    display: flex;
    justify-content: center;
    gap: 30px;

}

.total_amount{
    
    display: flex;
    flex-direction: column;
}

.subtotal{
    display: flex; 
    justify-content: space-between;
    width: 300px;
    
}
.deliver_free{
    display: flex; 
    justify-content: space-between;
    width: 300px;
}
.total_price{
    display: flex; 
    justify-content: space-between;
    width: 300px;
}

@media screen and (max-width: 1275px) {
  .basket {
    position: fixed;
    top: auto;
    bottom: 78px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    max-width: 935px;
    margin-left: 0;
    height: 600px;
    border-radius: 20px 20px 0 0;
    z-index: 100;
  }
  .empty-basket {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px;
  }

  .empty-basket h2 {
    font-size: 22px;
    color: rgba(253, 234, 220, 1);
  }

  .empty-basket p {
    font-size: 18px;
    color: rgba(253, 234, 220, 1);
    font-weight: 500;
    font-style: medium;
  }

  .empty-basket img {
    height: 80px;
    width: 80px;
  }

  .close_btn {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: end;
  }
  .mobile_footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 78px;
    background-color: rgba(54, 53, 52, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}
