.basket {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 450px;
  transform: translateY(-50%);
  background: rgba(54, 53, 52, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 100;
  height: 700px;
  width: 100%;
  max-width: 435px;
  border-radius: 30px 0 0 30px;
  margin-left: -435px;
  text-align: center;
}
.busket_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.addtocart_container{
    height: 280px;
     height: 300px;
  overflow-y: auto;
  padding: 10px;
 
}
.busket_title{
    
    color:rgba(253, 234, 220, 1); ;
}
.mobile_footer {
  display: none;
}
.empty-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  
}

.empty-basket p {
  font-size: 18px;
  color: rgba(253, 234, 220, 1);
  font-weight: 500;
  font-style: medium;
}

.close_btn {
  display: none;
}

.empty-basket img {
  height: 100px;
  width: 100px;
}

.busket_item{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color:rgba(253, 234, 220, 1);
    padding:15px;
    gap: 5px;
    border-radius: 20px;
    max-height: 120px;
    width: 320px;
    margin-bottom: 10px;
    
}

.busket_header_name {
   display:flex;
   justify-content: center;
   align-items: start;
   gap: 10px;
   text-align: left;
   line-height: 1.1;
}


.busket_header_name span{
    color:rgba(54, 53, 52, 1); ;
    font-size: 22px;
}

.busket_header_name p{
    color: rgba(54, 53, 52, 1);
    font-size: 22px;

}
.basket_bottom{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 140px;
}

.basket_value{
    color:rgba(54, 53, 52, 1);
    font-size: 25px;
}
.busket_price{
   color: rgba(54, 53, 52, 1);
   font-size: 22px;
}

.basket_bottom button{
    border: none;
  background: none;
  color:rgba(54, 53, 52, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: -7px;
  cursor: pointer;
  
}

.basket_bottom_button{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.total_amount{
    display: flex;
    flex-direction: column;
}

.subtotal{
    display: flex; 
    justify-content: space-between;
    width: 300px;
    font-size: 18px;
    
}
.deliver_free{
    display: flex; 
    justify-content: space-between;
    width: 300px;
    font-size: 18px;
    font-weight: 300;
}
.total_price{
    font-size: 19px;
    display: flex; 
    justify-content: space-between;
    width: 300px;
}
 .white_line{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: white;
 }
.wihte{
    color: white;
}
 .subtotal span{
    color: white;
    font-size: 20px;
    font-weight: 400;
 }

 #newItem{
    display: none;
 }
 .button_buy_now button{
    margin-top: 40px;
    max-width: 300px;
    width: 100%;
    height: 64px;
    border-radius: 60px;
    border: none;
    background-color: rgba(231, 108, 31, 1);
    color: white;
    font-size: 28px ;
 }


@media screen and (max-width: 1275px) {
  .basket {
    position: fixed;
    top: auto;
    bottom: 78px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    max-width: 935px;
    margin-left: 0;
    height: 600px;
    border-radius: 20px 20px 0 0;
    z-index: 100;
  }
  .empty-basket {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px;
  }

  .empty-basket h2 {
    font-size: 22px;
    color: rgba(253, 234, 220, 1);
  }

  .empty-basket p {
    font-size: 18px;
    color: rgba(253, 234, 220, 1);
    font-weight: 500;
    font-style: medium;
  }

  .empty-basket img {
    height: 80px;
    width: 80px;
  }

  .close_btn {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: end;
  }
  .mobile_footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 78px;
    background-color: rgba(54, 53, 52, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}
