.article_menu{
    display: flex;
    gap: 15px;
    background-color: rgba(253, 234, 220, 1);
    width: 100%;
    max-width: 700px;
    padding: 10px;
    margin: 30px auto;
    border-radius: 12px;
}

.article_menu img{
    max-width: 200px;
    width: 100%;
    height: auto;
}

.article_main{
    flex: 1;
    min-width: 0;
}


.article_main h2{
    color:rgba(54, 53, 52, 1) ;
    font-size: 20px;
    font-weight: 600;
    font-style: SemiBold;
}
.article_main p{
     color:rgba(54, 53, 52, 1) ;
     font-size: 14px;
     font-weight: 500;
     font-style:medium ;
}
.article_bottom{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: end;
    padding-right: 10px;
}

.article_bottom span{
    color: rgba(54, 53, 52, 1);
    font-size: 24px;
    font-weight: 550;
}

.article_button{
    height: 30px;
    width: 115px;
    padding: 5px 8px 5px 8px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(54, 53, 52, 1);
    cursor: pointer;

}

.manu{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}
