* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(231, 108, 31, 1);
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - 128px);
}
